source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

use devenv

# gateway settings
export PAPER_USER_ID="$(gopass show ibkr/paper_user_id)"
export PAPER_PASSWORD="$(gopass show ibkr/paper_user_pass)"
export LIVE_USER_ID="$(gopass show ibkr/live_user_id)"
export LIVE_PASSWORD="$(gopass show ibkr/live_user_pass)"
export IB_TRADING_MODE=live

# ib-app settings
export IB_GATEWAY_HOST=localhost
export IB_GATEWAY_PORT=8888
export NTFY_TOPIC="$(gopass show api/ntfy.sh/topic)"
export NTFY_ENABLED=false
export STORAGE_PATH="./data/ibkr_data.db"

# AWS deployment settings
export MY_PUBLIC_KEY="$(cat ~/.ssh/id_rsa.pub)"
export AWS_REGION=us-east-1
export AWS_AVAILABILITY_ZONE=us-east-1a
export GATEWAY_IMAGE=ghcr.io/extrange/ibkr:latest
export APP_IMAGE=ghcr.io/omdv/ib-trading-app:latest
